<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.com">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_logo"
        android:label="Donors&amp;Drives"
        android:roundIcon="@drawable/android_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewAllAppointments"></activity>
        <activity android:name=".viewOngoingCamp" />
        <activity android:name=".viewUpcomingCamp" />
        <activity android:name=".viewPrevCamp" />
        <activity android:name=".upcomingCamp" />
        <activity android:name=".ongoingCamp" />
        <activity android:name=".prevCamp" />
        <activity android:name=".allCampaigns" />
        <activity android:name=".myCampaigns" />
        <activity android:name=".campaigns" />
        <activity android:name=".addCampaignSuccess" />
        <activity android:name=".addNewCampaign" />
        <activity android:name=".EditProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".viewDonAcc" />
        <activity android:name=".searchCamp" />
        <activity android:name=".donors" />
        <activity android:name=".viewBloodStocks" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".campaignManHome" />
        <activity android:name=".welcomeBack" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>